.list {
    margin-bottom: 38px;

    &:nth-child(2) {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100% - 169px);
    }

    &:nth-child(2)::-webkit-scrollbar {
        width: 5px;
        background-color: #b2b2ce91;
    }

    &:nth-child(2)::-webkit-scrollbar-thumb {
        background-color: #77859080;
    }

    li {
        display: flex;
        padding: 13px 12px;
        margin-bottom: 5px;
        cursor: pointer;
        align-items: center;

        i {
            margin-right: 10px;
        }
    }

    .element:hover {
        transition: .3s;
        border-radius: 8px;
        background: rgba(255, 255, 255, .7);
    }

    li.active {
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 3, 0.05);
        border-radius: 5px;
    }
}